<div style="text-align:center"><span style="font-size:2em; font-weight: bold;">Lecture 4—Object oriented programming</span></div>

# Programming: Pandas

* [Introduction to Pandas](lec4files/03.00-Introduction-to-Pandas.ipynb)
* [Introducing Pandas Objects](lec4files/03.01-Introducing-Pandas-Objects.ipynb)
* [Data Indexing and Selection](lec4files/03.02-Data-Indexing-and-Selection.ipynb)
* [Missing Values](lec4files/03.04-Missing-Values.ipynb)
* [Concat And Append](lec4files/03.06-Concat-And-Append.ipynb)
* [Merge and Join](lec4files/03.07-Merge-and-Join.ipynb)
* [Aggregation and Grouping](lec4files/03.08-Aggregation-and-Grouping.ipynb)
* [Working With Strings](lec4files/03.10-Working-With-Strings.ipynb)
* [Working with Time Series](lec4files/03.11-Working-with-Time-Series.ipynb)
* [Performance Eval and Query](lec4files/03.12-Performance-Eval-and-Query.ipynb)
* [Further Resources](lec4files/03.13-Further-Resources.ipynb)

## Examples

In [12]:
import numpy as np
import pandas as pd

In [13]:
pd.read_csv('BWGHT.csv')

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.3,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.3,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.3,129,NaN,12.0,2,0,0,0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.3,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.3,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.0,3.314186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,27.5,30.0,138.3,110,12.0,12.0,4,1,1,0,4.700480,6.8750,0.0,3.314186
1384,5.5,30.0,138.3,146,NaN,16.0,2,1,1,0,4.983607,9.1250,0.0,1.704748
1385,65.0,8.0,118.6,135,18.0,16.0,2,0,1,0,4.905275,8.4375,0.0,4.174387
1386,27.5,8.0,118.6,118,NaN,14.0,2,0,1,0,4.770685,7.3750,0.0,3.314186
1387,37.5,8.0,118.6,111,16.0,13.0,2,0,1,0,4.709530,6.9375,0.0,3.624341

In [14]:
df = pd.read_csv('BWGHT.csv')

In [4]:
df.describe()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
count,1388.000000,1388.000000,1388.000000,1388.000000,1192.000000,1387.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,29.026657,19.552954,130.559006,118.699568,13.186242,12.935833,1.632565,0.520893,0.784582,2.087176,4.760031,7.418723,0.104359,3.071271
std,18.739285,7.795598,10.244484,20.353964,2.745985,2.376728,0.894027,0.499743,0.411260,5.972688,0.190662,1.272123,0.298634,0.918064
min,0.500000,2.000000,103.800000,23.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,3.135494,1.437500,0.000000,-0.693147
25%,14.500000,15.000000,122.800000,107.000000,12.000000,12.000000,1.000000,0.000000,1.000000,0.000000,4.672829,6.687500,0.000000,2.674149
50%,27.500000,20.000000,130.800000,120.000000,12.000000,12.000000,1.000000,1.000000,1.000000,0.000000,4.787492,7.500000,0.000000,3.314186
75%,37.500000,26.000000,137.000000,132.000000,16.000000,14.000000,2.000000,1.000000,1.000000,0.000000,4.882802,8.250000,0.000000,3.624341
max,65.000000,38.000000,152.500000,271.000000,18.000000,18.000000,6.000000,1.000000,1.000000,50.000000,5.602119,16.937500,2.500000,4.174387

In [8]:
df.head()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.3,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.3,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.3,129,NaN,12.0,2,0,0,0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.3,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.3,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.0,3.314186

In [9]:
df.tail()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
1383,27.5,30.0,138.3,110,12.0,12.0,4,1,1,0,4.700480,6.8750,0.0,3.314186
1384,5.5,30.0,138.3,146,NaN,16.0,2,1,1,0,4.983607,9.1250,0.0,1.704748
1385,65.0,8.0,118.6,135,18.0,16.0,2,0,1,0,4.905275,8.4375,0.0,4.174387
1386,27.5,8.0,118.6,118,NaN,14.0,2,0,1,0,4.770685,7.3750,0.0,3.314186
1387,37.5,8.0,118.6,111,16.0,13.0,2,0,1,0,4.709530,6.9375,0.0,3.624341

In [7]:
df['bwght']

0       109
1       133
2       129
3       126
4       134
       ...
1383    110
1384    146
1385    135
1386    118
1387    111
Name: bwght, Length: 1388, dtype: int64

In [10]:
mydict = {'a':1,'b':2,'c':3}
mydict[['a','b']]

TypeError: unhashable type: 'list'

In [11]:
df[['cigs','faminc']]

      cigs  faminc
0        0    13.5
1        0     7.5
2        0     0.5
3        0    15.5
4        0    27.5
...    ...     ...
1383     0    27.5
1384     0     5.5
1385     0    65.0
1386     0    27.5
1387     0    37.5

[1388 rows x 2 columns]

In [15]:
df.iloc[0:5,2:6]

   cigprice  bwght  fatheduc  motheduc
0     122.3    109      12.0      12.0
1     122.3    133       6.0      12.0
2     122.3    129       NaN      12.0
3     122.3    126      12.0      12.0
4     122.3    134      14.0      12.0

In [9]:
x = df[['cigs','faminc']]
y = df['bwght']
pd.concat([y,x],axis=1)

      bwght  cigs  faminc
0       109     0    13.5
1       133     0     7.5
2       129     0     0.5
3       126     0    15.5
4       134     0    27.5
...     ...   ...     ...
1383    110     0    27.5
1384    146     0     5.5
1385    135     0    65.0
1386    118     0    27.5
1387    111     0    37.5

[1388 rows x 3 columns]

In [22]:
df.groupby(['white']).mean()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,cigs,lbwght,bwghtlbs,packs,lfaminc
white,,,,,,,,,,,,,
0,18.138796,17.740803,128.399331,113.769231,12.483871,12.401338,1.765886,0.541806,2.297659,4.713048,7.110577,0.114883,2.44949
1,32.016070,20.050505,131.151974,120.053260,13.316103,13.082721,1.595960,0.515152,2.029385,4.772931,7.503329,0.101469,3.24199

In [10]:
df.groupby(['parity','male']).median()

             faminc  cigtax  cigprice  bwght  fatheduc  motheduc  white  cigs  \
parity male
1      0       27.5    20.0    130.70  116.0      12.0      12.0    1.0   0.0
       1       22.5    21.0    132.70  120.0      12.0      12.0    1.0   0.0
2      0       27.5    18.0    130.70  119.0      13.0      12.0    1.0   0.0
       1       22.5    18.0    126.80  124.0      12.0      12.0    1.0   0.0
3      0       22.5    20.0    130.80  120.0      12.0      12.0    1.0   0.0
       1       25.0    21.0    131.75  123.0      12.5      12.0    1.0   0.0
4      0       27.5    18.0    129.70  115.0      14.5      12.0    1.0   0.0
       1       16.5    18.0    128.55  123.5      13.0      12.0    1.0   0.0
5      0       16.0    23.5    134.30  119.5      12.0      12.0    1.0   0.0
       1       12.5    21.0    133.40  128.0      12.0      10.0    1.0   0.0
6      0       27.5    30.0    138.30  116.0      12.0      12.0    1.0   0.0
       1       27.5    23.0    135.60  119.0      14.0      13.0    1.0   0.0

               lbwght  bwghtlbs  packs   lfaminc
parity male
1      0     4.753590   7.25000    0.0  3.314186
       1     4.787492   7.50000    0.0  3.113515
2      0     4.779123   7.43750    0.0  3.314186
       1     4.820282   7.75000    0.0  3.113515
3      0     4.787492   7.50000    0.0  3.113515
       1     4.812184   7.68750    0.0  3.213850
4      0     4.744932   7.18750    0.0  3.314186
       1     4.816167   7.71875    0.0  2.801521
5      0     4.782607   7.46875    0.0  2.760231
       1     4.852030   8.00000    0.0  2.525729
6      0     4.753590   7.25000    0.0  3.314186
       1     4.779123   7.43750    0.0  3.314186

In [11]:
df['intercept'] = 1
x = df[['intercept','cigs','faminc']]
y = df['bwght']
np.linalg.solve(x.T@x,x.T@y)

array([ 1.16974130e+02, -4.63407540e-01,  9.27647384e-02])

# Topic: Object-oriented programming	

## Benefits

**Instantiation**

Being able to make instances of something. Suppose you have a new data structure. You want to define the structure and make instances given particular data sets. This can be accomplished with classes. You make a general class, then when faced with a data set, you make a new instance. This ties into the second benefit of object-orientation which is encapsulation

**Encapsulation**

Being able to combine multiple data points into a single object which will always have the same naming conventions. This allows us to define custom functions which work on a class and which all the instances of that class will have access to. For instance, in pandas, all data sets which would normally just be numpy matrices have dedicated column names attached to them. This allows us to query for the column names and guarantees that something will be there for every data set. 

**Inheritance**

Suppose you wanted to make a panel data frame. This means that you need to create a bunch of panel functions and features, but if you didn't have inheritance, you would have to build this completely from scratch rewriting much of the pandas DataFrame code. With inheritance, you can simply extend the DataFrame class and start writing the new features and functions.

## Example

In [12]:
class A:
    def __init__(self,name):
        self.name = name
    def print_name(self):
        print('A object\'s name is: {0}'.format(self.name))

In [13]:
A('Jason')

In [14]:
jp = A('Jason')
jp.name

'Jason'

In [15]:
jp

In [16]:
jp.print_name()

A object's name is: Jason

In [17]:
miles = A('Miles')
miles.print_name()

A object's name is: Miles

In [18]:
class B(A):
    def __init__(self,name,job):
        super(B,self).__init__(name)
        #self.name = name
        self.job = job
    def print_name_and_job(self):
        print('{0}\'s job is: {1}'.format(self.name,self.job))

In [19]:
jp = B('jason','teacher')
jp.print_name_and_job()

jason's job is: teacher

In [20]:
jp.name

'jason'

In [21]:
jp.job

'teacher'

In [22]:
jp.print_name()

A object's name is: jason

In [23]:
mc = B('miles','actor')
mc.name

'miles'

In [24]:
mc.job

'actor'

In [25]:
mc.print_name()

A object's name is: miles

In [26]:
mc.print_name_and_job()

miles's job is: actor

# Data Science: Linear model	
Our first goal is to understand the variance of $\hat\beta$. To do this, we will combine the formula for $\hat\beta$ with the linear modeling equation, $y=\mathbf X\beta+e$:
$$\begin{align}
\hat\beta&=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'y\\
&=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'\mathbf X\beta+\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'e\\
&=\beta+\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'e\\
\hat\beta-\beta&=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'e
\end{align}$$
Then we can define the variance:
$$\text{Var}(\hat\beta\vert\mathbf X)=\text{E}\left[\left(\hat\beta-\beta\right)\left(\hat\beta-\beta\right)'\vert\mathbf X\right]$$
This is true so long as $\text{E}(\hat\beta)=\beta$. I.e., when there is no endogeneity. Notice how our derived equation fits neatly into this definition. 
$$\text{Var}(\hat\beta\vert\mathbf X)=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'\text{E}\left[ee'\vert\mathbf X\right]\mathbf X\left(\mathbf X'\mathbf X\right)^{-1}$$
So we have our general formula for the variance. The OLS assumptions (no heteroskedasticity, no autocorrelation) imply in matrix form that $\text{E}\left[ee'\vert\mathbf X\right]=\sigma^2\mathbf I_n$. Now we can simply our variance as follows:
$$\begin{align}
\text{Var}(\hat\beta\vert\mathbf X)&=\sigma^2\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'\mathbf I_n\mathbf X\left(\mathbf X'\mathbf X\right)^{-1}\\
 &=\sigma^2\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'\mathbf X\left(\mathbf X'\mathbf X\right)^{-1}\\
 &=\sigma^2\left(\mathbf X'\mathbf X\right)^{-1}
\end{align}$$
So we can define the OLS variance estimator:
$$\hat{\text{Var}}(\hat\beta)_{\text{OLS}}=s^2\left(\mathbf X'\mathbf X\right)^{-1}$$
where $s^2=(n-r)^{-1}\sum_{i=1}^n\hat e_i^2$
If we want to only assume no autocorrelation then $\text{E}\left[ee'\vert\mathbf X\right]=\text{diag}\left( \sigma_i^2\right)$ and the variance becomes:
$$\hat{\text{Var}}(\hat\beta)_{\text{White}}=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X' \text{diag}\left(\hat{e}^2\right)\mathbf X\left(\mathbf X'\mathbf X\right)^{-1}$$
t-statistics can be defined by:
$$t_{\hat\beta}=\hat\beta\circ\text{diag}\left(\sqrt{\hat{\text{Var}}(\hat\beta)^{-1}}\right)$$
and p-values can similarly be defined:
$$p_{\hat\beta}=2\Phi(-\vert t_{\hat\beta}\vert)$$

In [28]:
df['(intercept)'] = 1
x = df[['(intercept)','cigs','faminc']]
y = df['bwght']
b = np.linalg.solve(x.T@x,x.T@y)
e = y-x@b
vb = e.var()*np.linalg.inv(x.T@x)
se = np.sqrt(np.diagonal(vb))
tstat = b/se
tstat

array([111.5923058 ,  -5.06396699,   3.18048888])

In [29]:
import scipy.stats as sps

class linear_model:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        self.b = np.linalg.solve(x.T@x,x.T@y)
        e = y-x@self.b
        self.vb = self.vcov_b(e)
        self.se = np.sqrt(np.diagonal(self.vb))
        self.t = self.b/self.se
        self.p = 2*sps.norm.cdf(-np.abs(self.t))
        self.rsq = 1-e.var()/y.var()
    def vcov_b(self,e):
        x = self.x
        return e.var()*np.linalg.inv(x.T@x)
class white(linear_model):
    def vcov_b(self,e):
        x = self.x
        meat = np.diagflat(e.values**2)
        bread = np.linalg.solve(x.T@x,x.T)
        sandwich = bread@meat@bread.T
        return sandwich
class newey(linear_model):
    def vcov_b(self,e):
        x = self.x
        sig2 = (e**2).mean()
        sig_1 = (e[1:]*e[:-1]).mean()
        meat = ??
        bread = np.linalg.solve(x.T@x,x.T)
        sandwich = bread@meat@bread.T
        return sandwich

In [30]:
df['(intercept)'] = 1
x = df[['(intercept)','cigs','faminc']]
y = df['bwght']
linear_model(x,y).p

array([0.00000000e+00, 4.10620787e-07, 1.47026782e-03])

In [31]:
white(x,y).p

array([0.00000000e+00, 1.72664982e-07, 1.15982470e-03])

In [32]:
linear_model(x,y).rsq

0.02980483732757988

In [33]:
white(x,y).rsq

0.02980483732757988

# Programming challenges 

## Package structure

Consider how you would organize a data science package. What classes would you use? How would the inheritance structure work?

In [15]:
from cleands import *

In [16]:
model = LeastSquaresRegressor(['cigs','faminc','male','white'],'bwght',df)

In [17]:
model.tidy

,variable,estimate,std.error,t.statistic,p.value
0,cigs,1.0489184975975647,0.19371616409367803,5.414718500673617,7.228576256090343e-08
1,faminc,1.0677507490658016,0.06010287612803548,17.765385250303197,9.124234792668017e-64
2,male,38.10566297658433,2.120023045875885,17.9741739367937,4.360423718260786e-65
3,white,64.10922814406968,2.481190547764544,25.838091396015347,1.8682934197969233e-120

In [18]:
model.glance

,r.squared,adjusted.r.squared,self.df,resid.df,aic,bic,log.likelihood,deviance,resid.var
,-3.543371,-3.55322,4,1384,14412.799693,14433.74217,-7202.399847,-2100.97298,1886.325393

In [19]:
add_intercept(['cigs','faminc','male','white'],'bwght',df)

(['(intercept)', 'cigs', 'faminc', 'male', 'white'],
 'bwght',
       faminc  cigtax  cigprice  bwght  fatheduc  motheduc  parity  male  \
 0       13.5    16.5     122.3    109      12.0      12.0       1     1
 1        7.5    16.5     122.3    133       6.0      12.0       2     1
 2        0.5    16.5     122.3    129       NaN      12.0       2     0
 3       15.5    16.5     122.3    126      12.0      12.0       2     1
 4       27.5    16.5     122.3    134      14.0      12.0       2     1
 ...      ...     ...       ...    ...       ...       ...     ...   ...
 1383    27.5    30.0     138.3    110      12.0      12.0       4     1
 1384     5.5    30.0     138.3    146       NaN      16.0       2     1
 1385    65.0     8.0     118.6    135      18.0      16.0       2     0
 1386    27.5     8.0     118.6    118       NaN      14.0       2     0
 1387    37.5     8.0     118.6    111      16.0      13.0       2     0

       white  cigs    lbwght  bwghtlbs  packs   lfaminc  (intercept)
 0         1     0  4.691348    6.8125    0.0  2.602690          1.0
 1         0     0  4.890349    8.3125    0.0  2.014903          1.0
 2         0     0  4.859812    8.0625    0.0 -0.693147          1.0
 3         0     0  4.836282    7.8750    0.0  2.740840          1.0
 4         1     0  4.897840    8.3750    0.0  3.314186          1.0
 ...     ...   ...       ...       ...    ...       ...          ...
 1383      1     0  4.700480    6.8750    0.0  3.314186          1.0
 1384      1     0  4.983607    9.1250    0.0  1.704748          1.0
 1385      1     0  4.905275    8.4375    0.0  4.174387          1.0
 1386      1     0  4.770685    7.3750    0.0  3.314186          1.0
 1387      1     0  4.709530    6.9375    0.0  3.624341          1.0

 [1388 rows x 15 columns])

In [21]:
model = LeastSquaresRegressor(*add_intercept(['cigs','faminc','male','white'],'bwght',df))

In [22]:
model.tidy

,variable,estimate,std.error,t.statistic,p.value
0,(intercept),112.06525616776224,1.4426599941528067,77.67960338677852,0.0
1,cigs,-0.4741599261368201,0.09091737443144614,-5.2152839773694515,2.114547450094389e-07
2,faminc,0.06005484547284407,0.03044639944238848,1.9724777501681772,0.04875403243004204
3,male,3.14523963378479,1.070759947506237,2.937390066849199,0.003364678372010795
4,white,5.407261543326522,1.3653108349547949,3.960461899876122,7.861357347001669e-05

In [23]:
model.glance

,r.squared,adjusted.r.squared,self.df,resid.df,aic,bic,log.likelihood,deviance,resid.var
,0.046451,0.043693,5,1383,12247.807094,12273.98519,-6118.903547,66.019619,396.182484

## Audioactive decay

Start with $x_0 = 1$. Now for each character, count the number of occurances. List the count and then the number. So we start with one $1$: $x_1=11$. Now we have two $1$s: $x_2=21$. The sequence continues:

```
1
11
21
1211
111221
312211
13112221
1113213211
31131211131221
```

Print the first 15 rows of this sequence.

In [32]:
list('111221')

['1', '1', '1', '2', '2', '1']

In [11]:
line = '1'
print(line)
for i in range(14):
    newline = ''
    current = line[0]
    count = 1
    for j in range(1,len(line)):
        if line[j]==current:
            count += 1
        else:
            newline += str(count)
            newline += current
            current = line[j]
            count = 1
    newline += str(count)
    newline += current
    line = newline
    print(line)

1
11
21
1211
111221
312211
13112221
1113213211
31131211131221
13211311123113112211
11131221133112132113212221
3113112221232112111312211312113211
1321132132111213122112311311222113111221131221
11131221131211131231121113112221121321132132211331222113112211
311311222113111231131112132112311321322112111312211312111322212311322113212221